html,body {
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#leftContainer {
   /* border: 1px solid #e6e6ff;*/
}

#link { 
    stroke-width: 4;
    opacity: 0.5;
}

marker {
    stroke: white;
    stroke-width: 1;
                   
}

rect {
}

text {
    font-family: sans-serif;
    
}

#table {
    /*border-top: none;*/
    background-color: white;
    border-collapse : collapse;
    font-family: sans-serif;
    border-radius: 6px;
    color: purple;
}
th {
    padding: 1px 4px;
    background-color: white;
    color: purple;
    font-size: 20px;
    height: 30px;
    border-bottom: solid orange /*#d39ed3*/;
}
td {
    text-align: center;
    padding: 1px 4px;
    height: 25px;
}
tr:nth-child(odd){background-color: #f5f2f7}

#table-div {
    border: thick solid orange;
}

#info-div {
    color: purple;
    font-size: 20px;
}
