html,body {
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
#table {
    border: thick solid orange;
    /*border-top: none;*/
    background-color: white;
    border-collapse : collapse;
    font-family: sans-serif;
}
td, th {
    padding: 1px 4px;
}

th {
    /*border-top: thick solid orange;*/
}